<section>
    <div class="footer">
        <div class="row">
            <div class="col-6">
                <div class="transection-content">
                    <div class="trans-heading">
                    </div>   
                    <div class="trans-heading">
                        <h1>One app <br> One banking.</h1>
                    </div>
                    <div class="discription">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                         Nesciunt ullam unde eveniet assumenda architecto magnam 
                         nostrum! Minus, explicabo praesentium. Illum.
                    </div>
                    <div class="benefits">
                        <ul>
                            <li>Nesciunt ullam</li>
                            <li>Eveniet assumenda</li>
                            <li>Nostrum Minus</li>
                        </ul>
                    </div>
                    <div class="content-buttons">
                        <div class="appstore">
                            <!-- <img src="/assets/appstore.png" alt="image" class="appstore-btn"> -->
                        </div>
                        <div class="playstore">
                            <!-- <img src="/assets/playstore.png" alt="image" class="playstore-btn"> -->
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="snap">
                    <img src="/assets/snap2.png" alt="" class="mobile-snap">
                </div>
            </div>
        </div>
    </div>
</section>