<section>
    <div class="view-section">
        <div class="row">
            <div class="col-6">
                <div class="transection-content">
                    <div class="trans-heading">
                        <h4>Transection</h4>
                    </div>   
                    <div class="trans-heading">
                        <h1>Send & receive <br> money instantly</h1>
                    </div>
                    <div class="discription">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                         Nesciunt ullam unde eveniet assumenda architecto magnam 
                         nostrum! Minus, explicabo praesentium. Illum.
                    </div>
                    <div class="benefits">
                        <ul>
                            <li>Nesciunt ullam</li>
                            <li>Eveniet assumenda</li>
                            <li>Nostrum Minus</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="snap">
                    <img src="/assets/snap1.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>