<section>
    <div class="view-section">
        <div class="row">
            <div class="col-6">
                <div class="transection-content"> 
                    <div class="trans-heading">
                        <h1>Banking <br> starts here</h1>
                    </div>
                    <div class="discription">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                         Nesciunt ullam unde eveniet assumenda architecto magnam 
                         nostrum! Minus, explicabo praesentium. Illum.
                    </div>
                    <div class="benefits">
                        <ul>
                            <li>Nesciunt ullam</li>
                            <li>Eveniet assumenda</li>
                            <li>Nostrum Minus</li>
                        </ul>
                    </div>
                    <div class="content-buttons">
                        <button class="button crt-acc">Create Account</button>
                        <button class="button comp-card">Compare Cards -></button>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="snap">
                    <img src="/assets/Grey_card.png" alt="first card" class="firstcard">
                    <img src="/assets/red_card.png" alt="second card" class="secondcard">
                </div>
            </div>
        </div>
    </div>
</section>