<section>
    <div class="home-section">
        <div class="content-box">
            <div class="features">
                <h4>Features</h4>
            </div>
            <div class="heading">
                <h1>All in one card</h1>
            </div>
            <div class="desciption">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                     Ullam dolore  <br>officia assumenda voluptatum veniam.</p>
            </div>
            <div class="content-buttons">
                <button class="button crt-acc">Create Account</button>
                <button class="button comp-card">Compare Cards -></button>
            </div>
        </div>
        <div class="card-box">
            <div class="row">
                <div class="col-2 side-img">
                    <img src="/assets/yello_card.png" alt="" class="crd-img ">
                </div>
                <div class="col-2 semi-side">
                    <img src="/assets/Grey_card.png" alt="" class="crd-img">
                </div>
                <div class="col-2">
                    <img src="/assets/green_card.png" alt="" class="crd-img middle-img">
                </div>
                <div class="col-2 semi-side">
                    <img src="/assets/Grey_card.png" alt="" class="crd-img">
                </div>
                <div class="col-2 side-img">
                    <img src="/assets/yello_card.png" alt="" class="crd-img">
                </div>
            </div>
        </div>
    </div>
</section>